.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-bottom: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.5s linear infinite;
	position: absolute;
	top: 45%;
	left: 46%;
	display: none;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
table {
	margin: 20px 0 0 200px;
}
.currency-table {
  display: none;
    height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ===== Scrollbar CSS ===== */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #898989;
    border-radius: 16px;
    border: none;
  }
